*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.project-landing-page{
    background: url(../IMG/cover-v2.5171a263ef19df011b4ae51b9f346b62.webp) no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    transition: 0.6s;
    animation: animate 2s;
    animation-timing-function: 1s;
}
@keyframes animate{
    0%{
        transform: rotate3d(30deg);
    }
    50%{
         transform: rotate3d(90deg);
    }
}